<template>
  <div class="home">
    <div class="header">
      <img src="../assets/nav-bg.svg" alt="" class="wave" />
      <img src="../assets/logo.png" alt="WSF" class="logo" />
    </div>
    <div class="components">
      <PlayersList ref="playersListRef" />
      <AddPlayer @onPlayerAdded="$refs.playersListRef.getPlayers()" />
    </div>
  </div>
</template>

<script>
import PlayersList from "@/components/PlayersList.vue";
import AddPlayer from "@/components/AddPlayer.vue";

export default {
  name: "Home",
  components: {
    PlayersList,
    AddPlayer,
  },
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  display: grid;
  max-height: 100%;

  .header {
    height: 12rem;
    position: relative;
    overflow: hidden;

    .wave {
      width: 100%;
      position: absolute;
      top: -1rem;
      z-index: 1;
    }

    .logo {
      width: 8rem;
      position: relative;
      z-index: 2;
      margin: 2rem;
    }
  }

  .logo {
    height: 7rem;
  }

  .components {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 4rem;
    padding: 2rem 8rem;
  }

  @media only screen and (max-width: 768px) {
    .header {
      height: 12rem !important;
      position: relative;
      overflow: hidden;

      .wave {
        position: absolute;
        height: 24rem;
        z-index: 1;
        top: 0 !important;
        width: auto;
      }

      .logo {
        width: 8rem;
        position: relative;
        z-index: 2;
        margin: 2rem;
      }
    }

    .components {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 0;
    }
  }
}
</style>
