<template>
  <div class="app">
    <router-view />
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  --clr-bg-main: #fafafa;
  --clr-bg-light: #78909c;
  --clr-dark-blue: #01579b;
  --clr-green-blue: #4dd0e1;

  --shadow: 0rem 0rem 1rem 0.6rem #eceff1;

  --resize-width: 768px;

  h1,
  h2,
  h3.h4,
  h5 {
    font-weight: 700;
  }

  table {
    width: 100%;
    background: #e1f5fe;

    .index {
      width: 5%;
      text-align: center;
    }
    thead th {
      position: sticky;
      top: 0;
      font-size: 1.6rem;
      text-align: left;
      color: var(--clr-dark-blue);
      font-weight: 700;
      background: #e1f5fe;
    }

    th,
    td {
      padding: 1rem;
    }

    td {
      background: white;
      font-size: 1.3rem;
      font-weight: 300;
    }

    button {
      background: none;
      border: none;
      font-weight: 700;
      color: var(--clr-green-blue);
      transition: all 0.25s ease-in-out;
      width: 100%;

      &:hover {
        color: var(--clr-dark-blue);
      }
    }
  }

  label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--clr-dark-blue);
    margin-bottom: 1rem;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  background: var(--clr-bg-main);

  .title {
    font-size: 3rem;
    color: var(--clr-dark-blue);
  }

  .card {
    background: white;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
  }

  .flex-row {
    display: flex;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 768px) {
    .title {
      font-size: 2rem;
      color: var(--clr-dark-blue);
    }

    h1,
    h2,
    h3.h4,
    h5 {
      font-weight: 600;
    }

    table {
      thead th {
        font-size: 1.3rem;
        font-weight: 600;
      }

      th,
      td {
        padding: 0.5rem;
      }

      td {
        font-size: 1.2rem;
      }

      button {
        font-weight: 500;
        font-size: 1rem;
      }
    }

    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}
</style>
