<template>
  <div class="add-player">
    <h1 class="title">Add Player</h1>
    <div class="card">
      <div class="inputs">
        <InputView
          id="name"
          type="text"
          placeholder="enter player name here ..."
          name="Name"
          v-model="name"
          class="input"
          :enableInput="!processing"
        />

        <InputView
          id="margin"
          type="number"
          placeholder="enter margin for odds ..."
          name="Margin"
          v-model="margin"
          class="input"
          :enableInput="!processing"
        />

        <InputView
          id="position"
          type="select"
          placeholder="select player position"
          name="Position"
          v-model="position"
          class="input"
          :options="playerPosition"
          :enableInput="!processing"
        />
      </div>

      <button @click="onClickSave">Save</button>
    </div>
  </div>
</template>


<script>
import InputView from "@/components/InputView.vue";

export default {
  name: "AddPlayer",
  components: {
    InputView,
  },
  methods: {
    onClickSave() {
      console.log("hello");
      if (!this.name || this.name == "") {
        this.showError("Please enter player name");
        return;
      }
      if (!this.margin || parseFloat(this.margin) <= 0) {
        this.showError("Please enter nargin");
        return;
      }
      if (!this.position || this.position == "") {
        this.showError("Please select player position");
        return;
      }
      this.$HTTP
        .post(this.$URLS.CREATE_PLAYER, {
          name: this.name,
          margin: this.margin,
          position: this.position,
        })
        .then((res) => {
          this.$toast(res.data.message, {
            duration: 1000,
            type: "success", // Default classes: 'success', 'error' and 'passive'
          });
          this.name = "";
          this.position = "";
          this.margin = "0.0";
          this.$emit("onPlayerAdded", true);
        })
        .catch((e) => {
          console.log(
            "🚀 ~ file: AddPlayer.vue ~ line 80 ~ onClickSave ~ e",
            e
          );
        });
    },
    showError(text) {
      this.$toast(text, {
        duration: 1000,
        type: "error", // Default classes: 'success', 'error' and 'passive'
      });
    },
  },
  data() {
    return {
      processing: false,
      name: "",
      position: "",
      margin: "0.0",
      playerPosition: [
        {
          key: "GoalKeeper",
          value: "Goal Keeper",
        },
        {
          key: "Defender",
          value: "Defender",
        },
        {
          key: "Midfielder",
          value: "Mid Fielder",
        },
        {
          key: "Forward",
          value: "Forward",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.add-player {
  width: 100%;
  background: transparent;

  .card {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .inputs {
      display: grid;
      gap: 2rem;
    }

    button {
      margin-top: 3rem;
      font-size: 2rem;
      padding: 1rem;
      background: none;
      color: var(--clr-dark-blue);
      font-weight: 600;
      border: 0.2rem solid var(--clr-dark-blue);
      border-radius: 0.4rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: linear-gradient(to right, #0693e3ff, #32ded4ff);
        border: none;
        color: white;
        box-shadow: var(--shadow);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .add-player {
    .card {
      margin-top: 1rem;

      .inputs {
        gap: 1rem;
      }

      button {
        margin-top: 2rem;
        font-size: 1.6rem;
        padding: 0.75rem;
        font-weight: 600;
        border: 0.1rem solid var(--clr-dark-blue);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
</style>
