<template>
  <div class="input-view flex-column">
    <div class="flex-row">
      <label :for="id">{{ name }}</label>
      <div class="bubble" v-if="needBubble && modelValue"></div>
    </div>
    <input
      v-if="type !== 'select'"
      :id="id"
      :type="type"
      :value="modelValue"
      @input="onChange"
      :placeholder="placeholder"
      autocomplete="off"
      :disabled="!enableInput"
      step="0.1"
    />

    <select
      :disabled="!enableInput"
      v-if="type === 'select'"
      :id="id"
      :value="modelValue"
      @input="onChange"
    >
      <option disabled value="">{{ placeholder }}</option>
      <option v-for="e in options" :key="e.key" :value="e.key">
        {{ e.value }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "InputView",
  props: {
    id: String,
    name: String,
    val: String,
    placeholder: String,
    type: String,
    modelValue: String,
    enableInput: Boolean,
    options: Array,
    needBubble: Boolean,
  },
  data() {
    return {};
  },
  methods: {
    onChange(e) {
      this.$emit("update:modelValue", e.target.value);
      this.$emit("onUpdate", {
        id: this.id,
        value: e.target.value,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.input-view {
  label {
    font-size: 1.5rem;
    color: var(--clr-dark-blue);
  }

  input {
    border: none;
    outline: none;
    border-bottom: 0.1rem solid lightgray;
    padding: 0.5rem 0rem;
    font-size: 1.6rem;
    color: black;
    font-family: "P-300", sans-serif;

    &:focus {
      border-bottom: 0.1rem solid var(--clr-dark-blue);
    }
  }

  select {
    height: 3.4rem;
    border: none;
    border-bottom: 0.1rem solid lightgray;
    background: white;

    outline: none;

    font-size: 1.4rem;
    color: black;
    font-family: "P-300", sans-serif;
    text-align: left;
  }
}
</style>