<template>
  <div class="players-list">
    <h1 class="title">PlayersList</h1>
    <div class="card">
      <div class="table-wrapper">
        <div class="placeholder" v-if="players.length <= 0">
          <img src="../assets/empty.svg" />
          <span>No players data available...</span>
        </div>

        <table v-else>
          <thead>
            <tr>
              <th class="index">ID</th>
              <th style="width: 30%">Name</th>
              <th style="width: 20%">Position</th>
              <th style="width: 12.5%">Odds</th>
              <th style="width: 12.5%">Margin</th>
              <th style="width: 20%"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-bind:key="index" v-for="(item, index) in players">
              <td class="index">
                {{ item.id || "--" }}
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.position }}
              </td>
              <td>
                {{ parseFloat(item.odds).toFixed(1) }}
              </td>
              <td>
                {{ item.margin }}
              </td>

              <td style="width: 30rem">
                <div class="cell-actions" v-if="!item.editing">
                  <button @click="item.editing = true">Set Margin</button>
                </div>
                <div class="set-margin" v-else>
                  <input
                    type="number"
                    step="0.1"
                    min="0.0"
                    v-model="item.new_margin"
                  />
                  <img
                    src="../assets/ic_check.png"
                    alt=""
                    title="Save"
                    @click="onUpdateMargin(item)"
                  />
                  <img
                    src="../assets/ic_close.png"
                    alt=""
                    title="Cancel"
                    @click="
                      item.new_margin = item.margin;
                      item.editing = false;
                    "
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PlayersList",
  data() {
    return {
      players: [],
    };
  },
  methods: {
    getPlayers() {
      this.$HTTP.get(this.$URLS.PLAYERS_LIST).then((res) => {
        this.players = res.data.rows.map((item) => {
          item.editing = false;
          item.new_margin = item.margin;
          return item;
        });
      });
    },
    onUpdateMargin(item) {
      this.$HTTP
        .patch(
          this.$URLS.SET_MARGINS.replace(":id", item.id).replace(
            ":margin",
            item.new_margin
          )
        )
        .then(() => {
          this.$toast("Player margin and odds updated", {
            duration: 1000,
            type: "success", // Default classes: 'success', 'error' and 'passive'
          });
          this.getPlayers();
        });
    },
  },
  mounted() {
    // this.getPlayers();
  },
};
</script>

<style lang="scss" scoped>
.players-list {
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;

  .table-wrapper {
    height: calc(100vh - 25rem);
    overflow: scroll;

    .placeholder {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 30%;
      }

      span {
        font-size: 1.2rem;
        color: gray;
        margin-top: 2rem;
      }
    }
  }

  .set-margin {
    display: grid;
    grid-template-columns: 1fr 2rem 2rem;
    align-items: center;
    gap: 2rem;

    input {
      padding: 0.5rem;
    }

    img {
      height: 2rem;
      cursor: pointer;
    }
  }
}
</style>
